{
	"streamtypes":2,
	"channels":[
		{
			"audio":{
				"acID":1,
				"srte":22050,
				"channels":2,
				"file":"./res/vid_bigbuckbunny.av"
			},
			"streams":[
				{
					"vcID":1,
					"width":640,
					"height":360,
					"frmR":24,
					"file":"./res/vid_bigbuckbunny.av"
				}
			]
		},
		{
			"audio":{
				"acID":1,
				"srte":44100,
				"channels":2,
				"file":"./res/xixuedai.av"
			},
			"streams":[
				{
					"vcID":1,
					"width":640,
					"height":352,
					"frmR":15,
					"file":"./res/xixuedai.av"
				}
			]
		}
	],
	"playback_list":"./res/playback_list.json",
	"playback_info":"./res/playback_info.json"
}